# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

trigger:
- master

pool:
  vmImage: 'macOS-10.14'

steps:
- task: Xcode@5
  inputs:
    actions: 'build'
    scheme: 'AppBox'
    sdk: 'macosx10.14'
    packageApp: false
    configuration: 'Release'
    xcWorkspacePath: '**/AppBox.xcworkspace'
    xcodeVersion: '10'