<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202332540560-vtcbdkouph0fubhvao52ehfi8p8ro31v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202332540560-vtcbdkouph0fubhvao52ehfi8p8ro31v</string>
	<key>API_KEY</key>
	<string>AIzaSyDSzX2EYcQDuBH3umM5DQp3QUiIIABAi14</string>
	<key>GCM_SENDER_ID</key>
	<string>202332540560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developerinsider.AppBox</string>
	<key>PROJECT_ID</key>
	<string>get-appbox</string>
	<key>STORAGE_BUCKET</key>
	<string>get-appbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202332540560:ios:62a56fc6fd15a45b</string>
	<key>DATABASE_URL</key>
	<string>https://get-appbox.firebaseio.com</string>
</dict>
</plist>